---
const action = `TUTTE LE CIRCOLARI`;
const t = `Circolari`;
---

<section class="circolari-section">
  <h3>{t}</h3>
  <a href="" class="button">
    {action}
    <img class="button-icon" src="/assets/arrow-right.png" alt="" />
  </a>
</section>

<style lang="scss">
  .circolari-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-viewport);
    padding-bottom: 0;
    @media (max-width: 768px) {
      margin-top: 3rem;
    }
  }

  h3 {
    font-size: var(--h2);
    font-weight: 400;
    color: #333;
  }

  .button {
    @media (max-width: 768px) {
      display: none;
    }


    &:hover {
      background-color: #333;
      color: #fff;

      .button-icon {
        transform: translateX(5px);
      }
    }
  }
</style>
