---
const { circolare } = Astro.props;
---

<section>
  {
    circolare && circolare.data ? (
      <>
        <p class="circolare-date">
          {new Date(circolare.data.date).toLocaleDateString("it-IT")}
        </p>
        <h3 class="circolare-title">{circolare.data.title}</h3>
        <p class="circolare-body">{circolare.body}</p>
      </>
    ) : (
      <p>Errore: circolare non trovata o dati mancanti.</p>
    )
  }
</section>

<style lang="scss">
  section {
    padding: var(--padding-viewport);
    font-family: "Aspekta";
    @media (max-width: 768px) {
      padding-bottom: 5rem;
    }
    .circolare-date {
      font-weight: 500;
      color: #555;
    }
    .circolare-title {
      margin: 0.5rem 0;
      font-size: 1.5rem;
      font-weight: 500;
      padding-bottom: 1rem;
      color:#4C4C4C;
    }
    .circolare-body {
      color: #7e7e7e;
      font-size: 1.1rem;
    }
  }
</style>
