---
import { getCollection } from "astro:content";
import Persona from "./Persona.astro";

const peopleList = await getCollection("persone");

const differenza = `Le persone
fanno la differenza`;
---

<section class="people-section">
  <h2>{differenza}</h2>
  <p class="people-description">
    Justo aliquam amet id ultricies interdum lacus ipsum ipsum. Adipiscing velit
    eget leo nisl in arcu quam sit. Ipsum aliquam hac proin praesent sagittis
    duis libero massa amet. Mauris rhoncus massa sit a neque at bibendum
    pharetra tincidunt. Mi praesent massa sit magna diam turpis velit. Cras
    proin vitae pellentesque aliquet.
  </p>

  <div class="people-list">
    {peopleList.map((persona) => <Persona {persona} />)}
  </div>
</section>

<style lang="scss">
  .people-section {
    padding: var(--padding-viewport);
    margin-left: 0;
    padding-top: 0;
    white-space: pre-line;

    h2 {
      font-size: var(--h2);
      margin-bottom: 2rem;
      font-weight: 400;
      color: #4c4c4c;
      @media (max-width: 768px) {
        margin-bottom: 1.5rem;
      }
    }
    p {
      width: 60%;
      color: #4c4c4c;
      @media (max-width: 768px) {
        width: 100%;
      }
    }

    .people-description {
      font-size: 1.2rem;
      color: #666;
      margin-bottom: 3rem;
    }

    .people-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      width: 100%;

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
        margin-bottom: 5rem;
      }

      .person-item {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ddd;
        padding-bottom: 1rem;
        margin-bottom: 1rem;

        a {
          text-decoration: none;
          font-size: 1.2rem;
          color: #333;
          font-weight: bold;

          &:hover {
            text-decoration: underline;
          }
        }

        span {
          font-size: 1rem;
          color: #999;
        }
      }
    }
  }
</style>
