---
// Importiamo il componente ServizioSingolo
import { getCollection } from "astro:content";
const servizi = await getCollection("servizi");

// Ordiniamo i servizi per assicurare che non ci siano buchi nell'ordine
const ServiziList = servizi.sort((a, b) => a.data.order - b.data.order);
---

<section class="servizi-list">
  {
    ServiziList.map((servizio, index) => (
      <a
        href={`/servizi/${servizio.slug}`}
        class="servizio-item"
        key={servizio.id}
        data-number={String(servizio.data.order).padStart(2, "0")}
      >
        <span class="servizio-number">
          {String(servizio.data.order).padStart(2, "0")}
        </span>
        <span class="servizio-title">{servizio.data.title}</span>
        <img class="servizio-arrow" src="/assets/arrow-right.png" alt="Arrow" />
      </a>
    ))
  }
</section>

<style lang="scss">
  section {
    background-color: var(--ST24-skyazure);
    padding-bottom: 6rem;
    padding-top: 0rem;
    font-family: 'Gambetta';
  }

  .servizi-list {
    display: flex;
    flex-direction: column;
    // padding: var(--padding-viewport);
  }

  .servizio-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #a3a3a3;
    text-decoration: none;
    color: inherit;
    font-size: var(--h3);
    white-space: nowrap;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    overflow: hidden; /* Necessario per l'animazione del background */
    z-index: 1; /* Posiziona il contenuto sopra l'animazione */
    padding: var(--padding-viewport);
    padding-block: 2rem;
    color: #3f3f3f;

    .servizio-number {
      width: 10%;
      @media (max-width: 768px) {
        display: none;
      }
    }

    .servizio-title {
      width: 60%;
      text-align: left;
    }

    .servizio-arrow {
      font-size: 2.5rem;
      width: 2.5rem;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -100%; /* Inizialmente parte dal basso fuori dall'elemento */
      width: 100%;
      height: 100%;
      background-color: var(
        --ST24-skyyellow
      ); /* Colore del background all'hover */
      transition: bottom 0.5s ease; /* Transizione da basso a alto */
      z-index: -1; /* Dietro il contenuto dell'elemento */
      border-top-left-radius: 90px;
      border-top-right-radius: 90px;
    }

    &:hover::before {
      bottom: 0; /* Sposta il background verso l'alto durante l'hover */
      border-radius: 0;
      transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
      @media (max-width: 768px) {
        transition: all 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }
</style>
