---
const studio = `Lo studio`;
const p = `Amet massa libero eleifend sapien. Pellentesque ultricies duis tristique blandit in sed mollis imperdiet. Turpis ut et fermentum ac tortor in in. Turpis pharetra mattis feugiat habitasse urna. Velit faucibus imperdiet malesuada varius in consequat ut amet integer. 
Diam cursus cursus quam nulla congue dignissim mi. Tellus euismod urna posuere morbi. Facilisis nunc fames viverra malesuada. Massa in vel accumsan pulvinar facilisis pharetra penatibus. Id hendrerit nulla sed faucibus quam.`;
---

<section>
  <div class="container-azure">
    <h3>{studio}</h3>
  </div>
  <div class="container">
    <p>{p}</p>

    <div class="container-img">
      <img src="/public/assets/hero-img.png" alt="" />
    </div>
    <img src="" alt="" />
  </div>
</section>

<style lang="scss">
  section {
    .container-azure {
      width: 100%;
      background-color: var(--ST24-skyazure);
      display: flex;
      padding: var(--padding-viewport);
      padding-bottom: 2rem;
      h3 {
        font-size: var(--h2);
        color: var(--ST24-skygreen);
        font-weight: 500;
      }
    }
    .container {
      padding: var(--padding-viewport);

      p {
        font-size: 1.1rem;
        width: 60%;
        color: #7e7e7e;
        margin-bottom: 5rem;
        padding-top: 3rem;
        @media(max-width: 768px){
          width: 100%;
        }
      }
    }
  }
</style>
